@use "../../colors" as colors;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.nav {
  // background-color: colors.$red-600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

  .nav-list {
    list-style: none;
    display: flex;
    gap: 25px;
    
    .nav-list-item {
      font-size: 1.25rem;
      color: colors.$red-600;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      cursor: pointer;
    }
  }
}